<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

        <h1>Fornecedor</h1>

        <form action ="/fornecedor" method="POST">

            <label>Nome:</label>
            <input type="text" name="nome"><br>

            <label>Comentario</label>
            <input type="text" name="totalCompras"><br>

            <button>Enviar</button>
            
        </form>

<%- include('partials/footer') %>