<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

        <h1>Criptografia</h1>

        <form action ="/cripto" method="GET">

          <label for="mensagem">Mensagem:</label>
          <input type="text" name="mensagem" required>
          <br>

          <label for="type">type:</label>
          <input type="text" name="type" required>
          <br>

          <button type="submit">Criptofrafar</button>

      </form>

        <div id="cripto">

            <% if (!cripto) { %>
              
            <%} else { %>
        
              <h1>Apresentando lista de pessoas </h1>
              
                <p><%= cripto %> </p>

              <% } %>

        </div>

        

        <form action ="/cripto" method="POST">

          <button type="submit">Traduzir</button>
            
        </form>

<%- include('partials/footer') %>