<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

    <h1>Links</h1>

    <div id="links"></div>

    <% if(num%2 == 0) { %>
        <h2>Par</h2>
    <% } else { %>
        <h2>Impar</h2>
    <% } %>

<%- include('partials/footer') %>