<%- include('partials/header') %>
   
<%- include('partials/navbar') %>

    <h1>Links</h1>

    <div id="links">
        <ul>
            <li>
              <a href="/otp">OTP</a>
            </li>
            <li>
              <a href="/cesar">Cifra de Cesar</a>
            </li>
            <li>
              <a href="/vigenere">Cifra de Vigenere</a>
            </li>
            <li>
              <a href="/hill">Cifra de Hill</a>
            </li>
        </ul>
    </div>

<%- include('partials/footer') %>